 <template>
    <div class="app">
        <form @submit.prevent>
            <input 
            v-bind:value = "title" 
            @input="title = $event.target.value"
            class="input" 
            type="text" 
            placeholder="название"
            >
            <input 
            v-bind:value = "body" 
            @input="body = $event.target.value"
            class="input" 
            type="text" 
            placeholder="описание"
            >
            <button class="btn" @click="createPost">Создать</button>
        </form>
        <div class="post" v-for="post in posts" v-bind:key="post">
            <div><strong>Название: </strong> {{post.title}}</div>
            <div><strong>Описание: </strong> {{post.body}}</div>
        </div>

    </div>
 </template>

 <script>
export default {
    data() {
        return {
            posts: [
                {id: 1, title: "Javacript", body: "Описание поста про Javacript"},
                {id: 2, title: "Typescript", body: "Описание поста про Typescript" },
                {id: 3, title: "HTML", body: "Описание поста про HTML"},
                {id: 4, title: "CSS", body: "Описание поста про CSS"},
                {id: 5, title: "SCSS", body: "Описание поста про SCSS"},
            ],
            title: "",
            body: ""
        }
    },
    methods: {
        createPost() {
            const newPost = {
                id: Date.now(),
                title: this.title,
                body: this.body
            }
            this.posts.push(newPost);
            this.title = "",
            this.body = ""
        },
    }
}
 </script>
 
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .app {
        padding: 20px;
    }

    .post {
        padding: 15px;
        margin: 15px 25px 15px 15px;
        border: 2px solid teal;    
    }

    form {
        display: flex;
        flex-direction: column;

    }
    .input {
        width: 100%;
        border: 1px solid teal;
        padding: 10px 15px;
        margin: 15px 0 0 0;
    }
    .btn {
        margin: 15px 0 0 0;
        align-self: end;    
        padding: 10px 15px;
        background: none;
        color: teal;
        border: 1px solid teal;
    }
</style>